<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	</head>
<body>
	             <center><b><h1> Title: Contact List Management </h1></b></center>


<u><h2>Abstract: </h2></u> Contacts list management is a management system that creates and displays a list of contacts for a particular user on the web. It uses MongoDB database to store contact details like Name, Contact Number, Date of Birth, along with some additional details like email, relation with the person etc.


<u><h2>Functionality:</h2></u>
The functionalities provided are-
<ul>
	<li>Insert a new contact</li>
	<li>Delete an existing contact</li>
	<li>Update the details of an existing contact</li>
	<li>Search contacts</li>
	<li>Display the Contacts sorted alphabetically</li>
	
</ul>
The frontend of the project shows the list of the contacts fetched from the database and contains a tab consisting of details like all contacts, search and about (which displays the summary of the project).


<u><h2>Software Used:</h2> </u>
<ul>
<li>MongoDb as a database</li>
<li>Python </li>
<li>Flask for frontend</li>
<li>HTML for frontend</li>
<li>CSS for designing</li>
</ul>


<hr>
	<p>Made with ❤️ <br>By Rimjhim Agrawal, (MTECH CSE)</p>

</body>
</html>
